@keyframes moveToTop {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 20px; /* Adjust this value to set the final position from the top */
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
  }
  
  .fullscreen-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Assuming you want a white background */
    z-index: 9999; /* Ensure it's above other content */
    opacity: 1;
    transition: opacity 2s ease-out; /* 2 seconds fade out */
  }
  
  .fullscreen-logo img {
    max-width: 100%;
    max-height: 100%;
  }  

  .homepage-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it's below the fullscreen logo */
  }
  
  .logo-title-initial {
    position: fixed; /* Fix the position of the logo and title */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .logo-title-animating {
    animation: moveToTop 2s forwards; /* Animation to move the logo and title to the top */
  }

  .head-menu-container {
    position: relative; /* Add relative positioning to contain the shadow gradient */
    background-color: #ffffff; /* Set the background color to white */
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4); /* Add shadow gradient at the bottom */
    width: 100%; /* Set the container width to 100% */
  }

  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; /* Add some padding to the top and bottom */
  }

  .logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; /* Added top margin to create space */
  }
  
  .logo {
    margin-right: 20px; /* Add some space between the logo and the title */
  }
  
  .logo-image {
    width: 160px; 
  }

  .head-title {
    font-size: 4em; /* Adjust this value to change the title size */
    color: #000000; /* Set the title color to black */
  }

  .user-profile-container {
    display: flex;
    align-items: center;
  }
  
  .user-profile-image {
    width: 40px; /* adjust as needed */
    height: 40px; /* adjust as needed */
    border-radius: 50%; /* circular image */
    margin-right: 10px;
  }

  .user-profile-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Optional: Removes underline from NavLink */
    /* Add any additional styling for the link */
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px 0; /* Add some padding to the top and bottom */
    margin-top: 20px; /* Add some space between the head-container and the menu */
    width: 50%; /* Contain the menu within 50% of the width */
    margin: 0 auto; /* Center the menu within its container */
  }
  
  .menu li {
    margin: 0 10px;
    font-size: 1.2em; /* Adjust this value to change the menu item size */
  }
  
  .menu li a {
    color: #000000; /* Set the menu item color to black */
    text-decoration: none;
    transition: color 0.3s ease; /* Add a transition for the color change */
    padding: 8px 20px; /* Add padding to create space for the background */
  }

  .menu li a:hover {
    color: #8b8b8b; /* Change the color when the user hovers over the menu item */
    transform: scale(1.1); /* Enlarge the tab when hovered */
  }
  
  .activeLink {
    background-color: #e9e9e9; /* Add background color for 'Home' link */
    color: #000000; /* Set text color to white for better contrast */
    border-radius: 6px; /* Add some border-radius for rounded corners */
  }
  
  .separator {
    color: #000000; /* Set the separator color to black */
  }

  .intro {
    text-align: left; /* Align the text to the left */
    font-size: 5em;
    color: #ffffff; /* Set the color to white */
    margin-top: 250px; /* Add some space between the menu and the intro sentence */
    margin-bottom: 20px; /* Add some space between the intro sentence and the instruction bar */
    width: 79%; /* Match the width of the instruction bar */
    margin-left: auto; /* Center the element */
    margin-right: auto; /* Center the element */
  }
  
  .instruction-area {
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px; /* Adjust this to make the area shorter */
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px; /* This will make the corners rounded */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* This will give the levitating effect */
    overflow: hidden; /* This will keep the button inside the area */
  }
  
  .instruction-input {
    width: 90%;
    border: none;
    outline: none;
    color: #000;
    margin-left: 10px;
  }
  
  .send-instruction-button {
    width: 10%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
  }
  
  .arrow.right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .generatedImage-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Set the width to 90% */
    margin: 0 auto; /* Center the element */
    margin-top: 20px;
  }

  .generatedImage {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Make the images take up equal space */
    margin: 0 10px; /* Add some space between the images */
  }
  
  .imageStyle {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    transition: transform .2s;
    width: 100%; /* Make the image take up the full width of its parent */
    height: auto; /* Keep the aspect ratio of the image */
  }
  
  .imageStyle:active {
    transform: scale(1.1);
  }
  
  .community-button {
    display: none;
  }
  
  .generatedImage:hover .community-button {
    display: block;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #808080; /* Set the background color to grey */
    margin: 10% auto; /* Reduce the margin to make the modal a bit bigger */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Make the modal a bit bigger */
    display: flex; /* Align the text and image sections side by side */
    border-radius: 10px; /* Make the corners rounded */
  }
  
  .modal-text {
    flex: 1; /* Make the text section take up equal space */
    display: flex;
    flex-direction: column;
  }
  
  .modal-prompt {
    background-color: #606060; /* Set a darker background color */
    padding: 10px;
    margin-bottom: 10px; /* Add some space between the prompt and parameters sections */
    border-radius: 10px; /* Make the corners rounded */
  }
  
  .modal-parameters {
    padding: 10px;
  }
  
  .modal-parameters p {
    margin-bottom: 10px; /* Add some vertical space between two parameters */
  }
  
  .modal-parameters p span:first-child {
    color: #606060; /* Set the parameter titles to dark grey */
  }
  
  .modal-parameters p span:last-child {
    font-weight: bold; /* Add the bold style to the parameter values */
  }
  
  .modal-image {
    position: relative;
    flex: 1; /* Make the image section take up equal space */
    padding-left: 10px; /* Add some space between the image and text sections */
  }  
  
  .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #606060; /* Set the background color to grey */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0; /* Add some space above and below the button */
    cursor: pointer;
    border-radius: 10px; /* Make the corners rounded */
    width: 80%;
  }
  
  .submit-button span {
    margin-left: 10px; /* Add some space between the icon and the text */
  }

  .submit-button svg {
    transition: transform 0.3s ease-in-out;
  }
  
  .submit-button.clicked svg {
    animation: rotate 0.5s linear;
  }
  
  .download-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: #606060;
    padding: 5px;
    border-radius: 5px; /* This will make the corners rounded */
    z-index: 10;
  }
  
  .download-button:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .download-button i {
    font-size: 20px;
  }

  .tablist {
    color: #ffffff;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    list-style-type: none;
    padding: 0;
    margin: 50px auto 20px auto; /* Center the tablist */
    gap: 30px; /* Add space between the tabs */
    max-width: 79%; /* Set a maximum width */
}
  
  .tablist li {
    cursor: pointer;
    font-size: 1.2em; /* Make the text larger */
    transition: transform 0.3s ease; /* Add transition for hover effect */
    display: flex;
    align-items: center;
  }
    
  .tablist li:hover {
    transform: scale(1.1); /* Enlarge the tab when hovered */
  }

  .tablist li.active {
    color: #cacaca;
    font-weight: bold; /* Make the active tab bold */
  }

  .tablist li::before {
    content: attr(data-symbol); /* use a data attribute for symbol */
    margin-right: 5px; /* adjust as needed */
  }

  .chevron-icon {
    margin-right: 8px; /* Adjust this value as needed */
  }
  
  footer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  footer li a {
    color: #fff;
    text-decoration: none;
  }

  .tab-content {
    margin: 20px auto; /* Add some margin above and below the tab content */
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  
  .style-tab,
  .format-button,
  .model-button,
  .parametre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .style-section,
  .style-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .style-buttons,
  .format-buttons,
  .model-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .style-button,
  .format-button,
  .model-button {
    flex: 0 0 200px; /* This will make the buttons not grow or shrink but stay at 200px */
    margin: 10px; /* Add some margin around the buttons */
    position: relative;
    width: 300px; /* adjust as needed */
    border: 2px solid #fff;
    border-radius: 5px; /* adjust as needed */
    overflow: hidden;
    text-align: center;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* This will give the levitating effect */
    cursor: pointer;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Distribute elements vertically */
  }
  
  .style-button .button-image img,
  .format-button .button-image img,
  .model-button .button-image img {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .style-button .toggle-indicator,
  .format-button .toggle-indicator,
  .model-button .toggle-indicator {
    display: none;
  }
  
  .style-button:hover,
  .format-button:hover,
  .model-button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Increase the levitating effect when hovering */
  }
  
  .style-button h3,
  .format-button h3,
  .model-button h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  .style-button p,
  .format-button p,
  .model-button p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    padding: 10px;
  }

  .explore-button {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: auto; /* Push the explore button to the bottom */
    display: flex;
    align-items: flex-end; /* Align the content of explore button at the bottom */

  }  
  
  .button-on {
    background-color: #dddddd;
    border: 2px solid;
    box-shadow: 0px 10px 10px rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
  }
  
  .button-off {
    background-color: #ccc;
    color: #333;
    border: none;
    cursor: pointer;
  }

  .continue-button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px; /* Increased padding */
    font-size: 1.5em; /* Increased font size */
    background-color: white; /* White background */
    color: #303030; /* Anthracite grey text */
    border: 1px solid #303030; /* Optional: add a border */
    border-radius: 20px; /* More rounded corners */
    text-transform: bold; /* If the text is uppercase */
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  
  .continue-button:hover {
    background-color: #d3d3d3; /* Light grey background on hover */
    color: #303030; /* Maintain the text color on hover */
  }
  
  
  .parametres {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .dimension-parametre {
    color: #ffffff;
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #606060; /* Dark grey background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Some padding inside the box */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the contents */
    justify-content: space-around; /* Distribute the space above and below the slider */
  }

  .dimension-parametre label {
    font-weight: bold; /* Bold style for the dimension title */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px; /* Add some space below the title */
  }
  
  .dimension-parametre p {
    font-weight: bold; /* Bold style for the dimension value */
  }
  
  .dimension-icons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .dimension-icons input[type="range"] {
    width: 80%; /* Make the slider wider */
    margin: 0 10px;
  }
  
  .dimension-icons input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3); /* Add a halo around the slider thumb */
    border-radius: 50%; /* Make the thumb circular */
  }
  
  .dimension-icons > * {
    margin: 0 10px;
  }
  
  .dimension-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-top: 20px; /* Add some space above the image */
    display: none; /* Hide the image by default */
  }
  
  .dimension-icons input[type="range"]:hover ~ .dimension-image {
    display: block; /* Show the image when the slider is hovered */
  }  
  
  .other-parametres {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; /* Increased margin */
  }
  
  .parametre-title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px; /* Reduced margin */
  }
  
  .parametre label {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .parametre-input {
    border: 1px solid #cccccc00;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    margin-left: 10px;
    width: 50px;
    background: transparent;
    color: white;
    text-align: center;
  }

  .parametre-input:focus {
    border: 1px solid #ccc;
  }

  .parametre-seed-input {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    margin-left: 10px;
    
  }

  .parametre input[type="range"] {
    width: 100%;
    height: 60px;
  }

  .parametre input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3); /* Add a halo around the slider thumb */
    border-radius: 50%; /* Make the thumb circular */
  }
  
  .parametre input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    margin-left: 10px;
  }

  .gallery {
    margin-top: 50px;
  }
  
  .imageRow {
    display: flex;
    justify-content: space-around; /* Change this to 'space-around' to add space between the images */
    width: 80%;
    height: auto;
    margin: 0 auto; /* Center the element */
    margin-top: 20px;
    }
  
  .galleryImages {
    margin: 0 10px; /* Add some space between the images */
  }

  .galleryImages .galleryImage {
    flex: 1;
    width: 100%; /* Make the image take up the full width of its parent */
    height: auto; /* Change this to 'auto' to maintain the image's aspect ratio */
    object-fit: cover;
    cursor: pointer;
    flex-shrink: 0; /* Add this to prevent the images from shrinking */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: transform .2s;
  }
  
  .galleryImage:active {
    transform: scale(1.1);
  }
  
  .imagePrompt {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 10px; 
    color: #606060; 
    font-weight: bold;  
  }  